*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 100%;
    background-image: url(../img/Background.png);
    background-size: cover;
    background-position: top;

}

header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.menu{
    display: flex;
}

.menu>ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu>ul>li>a{
    padding: 10px 20px;
    text-decoration: none;
    color: #111827;
    font-weight: 600px;
}

.menu>ul>li>a:hover {
    color: #541eb1;
}

.banner{
    max-width: 1200px;
    margin: 72px auto;
    display: grid;
    padding: 0px 30px;
    padding-bottom: 15px;
    grid-template-columns: 2fr 1fr;
}

.banner-content{
    margin-top: 96px;
}

.banner-content>h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.025em;
    font-feature-settings: 'liga' off;
    color: #111827;
}

.banner-content>p{
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
}

.get{
    border-radius: 8px;
    background-color: #7C3AED;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    transition: all .25s;
    font-feature-settings: 'liga' off;
    padding: 16px 24px;
    color: white;
    border: none;
}

.banner-content>div{
    margin-top: 32px;
    display: flex;
    gap: 16px;
}

.get:hover{
    background-color: #4b1c9b;
}

.watch{
    padding: 16px 24px;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #7C3AED;
    border: none;
    transition: all .25s;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.watch:hover{
    background-color: #dad1eb;
    border-radius: 8px;
}

.logo-brands{
    max-width: 1200px;
    margin: 10px auto;
    border-top: 2px solid #E5E7EB;
    border-bottom: 2px solid #E5E7EB;
    padding-top: 35px;
    padding-bottom: 35px;
}

.logo-brands>ul{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;
}

.features{
    max-width: 1200px;
    margin: 106px auto;
}

.features-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.features-content>h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.features-content>p{
    margin-top: 8px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.features-blocks{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 64px;
    text-align: center;
}

.features-blocks>div>h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #111827;
    margin-top: 24px;
}

.features-blocks>div>span{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
    margin-top: 8px;
}

.stories {
    background-color: #d5fafc;
   
    height: 892px;
    padding-bottom: 96px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.content>img {
    position: absolute;
    top: 60px;
    z-index: 0;
}

.text {
    margin-top: 120px;

}

.text>h3 {
font-weight: 700;
font-size: 48px;
line-height: 60px;
letter-spacing: -0.025em;
font-feature-settings: 'liga' off;
color: #111827;
}

.text>p {
font-weight: 400;
font-size: 18px;
line-height: 28px;
font-feature-settings: 'liga' off;
color: #111827;
}

.card1 {
    justify-self: end;
    margin-top: 64px;
    width: 384px;
    height: 396px;
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
}

.card1>div {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 32px 1fr;
}

.p1 {
font-weight: 400;
font-size: 18px;
line-height: 28px;
font-feature-settings: 'liga' off;
color: #111827;

}

.p2 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
    color: #111827;
}

.p3{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    color: #6B7280;
}

.column-left {
    display: grid;
    justify-content: end;
    z-index: 1;
}

.column-right {
display: grid;
justify-content: left;
padding: 32px;
}

.card2 {
    
    margin-top: 196px;
    width: 488px;
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
}

.card2>div {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 32px 1fr;
}

.card3 {
    
    margin-top: 32px;
    width: 384px;
    height: 256px;
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
}

.card3>div {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 32px 1fr;
}

.statistics {
    max-width: 1200px;
    margin: 106px auto;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.years>h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    font-feature-settings: 'liga' off;
    color: #111827;

}

.years>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
    color: #111827;

}

.numbers {
    width: 592px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-column-gap: 32px;
    grid-row-gap: 40px;
}

.cell {
    padding: 0px;
    gap: 16px;
    width: 280px;
    height: 69px;
    display: grid;
    grid-template-areas: 
    "img number"
    "img info";
    grid-template-rows: repeat(auto-fit);
   
}

.cell>img {
    align-items: center;
    grid-area: img;
}

.cell>h4 {
    grid-area: number;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    font-feature-settings: 'liga' off;
    color: #111827;
    left: 16px;
}

.cell>p {
    grid-area: info;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #111827;
}







.tools {
    max-width: 1200px;
    margin: 106px auto;
}

.benefits {
    width: 1216px;
    height: 270px;
    display: flex;
    justify-content: space-between;
}

.integrations {
  
}

.integrations>h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    font-feature-settings: 'liga' off;
    color: #111827;
   

}

.integrations>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
    color: #111827;
}


.app {
position: relative;
display: flex;
justify-content: center;
flex-direction: column;
width: 696px;
}

.semicircle {
    
width: 540px;
height: 270px;
left: 78px;
top: 0px;
margin-right: 78px;
display: flex;
background: #EDE9FE;
position: absolute;

}

.applications {
    
    width: 540px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: 46px;
    flex-wrap: wrap;
    gap: 64px;
   z-index: 1;
}